#minhaarea{ 
	
	  width:17%;
      position: relative;
        color:white;
        
 		
 		font-size: 18px;
   background:#002222;
}
#minhaarea ul{
text-decoration:none;
list-style-type:none;
}
#minhaarea li{
	padding:5%;
}
#minhaarea li a{
text-decoration:none;
}
#minhaarea li:hover{
	border-style: solid #005555;
	position:relative; 
	background:#005555;
	height: 100%; 
	z-index: 999;
}
#conteudo{
	height: 400px;
	width: 75%;
	border-style: solid 2%;
	float: right;
	margin-right: 3%;
	margin-top: -12%;

}
h1{
	text-align: center;
	margin-top:2%;
	margin-left: -10%;
}
.mo{
	height: 500px;
}
#foto img{
	width: 100px;
	height: 100px;
}
table{
	border:2px;
	border-style: solid;
	border-color: black;
	margin-top: 5%;
}
td,th{
	padding:2%;
}
#aviso{
	margin-top:5%;
	text-indent: 12px;
	margin-right: 150px;
	text-align: justify;
	color:white;
}